html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.menu {
  background: #E8E9EB;
  min-height: 40px;
}

.menu p {
  float: left;
  padding-top: 10px;
}

.menu ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul.nav li {
  display: inline-block;
  height:40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.menu ul.nav li:hover, .menu ul.nav li.active {
  background: #FFF;
}

.menu ul.nav li a {
  color: #4B4B54;
  margin: 0;
  padding: 0;
}

.menu ul.nav li a:hover {
  background: transparent;
}

.main {
  background:url(/home/edward/Documents/Dev/EVD/Img/seattle_center_1.jpg) no-repeat center;
  background-size: cover;
  height: 250px;
}

.main h2{
  padding-top: 90px;
  color: #262626;
  text-align: center;
}

.about {
  background-color: #FFF;
}

.about h2 {
  font-weight: bold;
}

.about h3 {
  padding: 10px;
  font-weight: bold;
}

.about p {
  font-size: 18px;
  padding-left: 20px;
}

.about .col-md-8 {
  margin: 40px 0 40px 0;
  padding-left: 40px;
  height: 373px;
}

.about ul {
  list-style: none;
}
.about ul li {
  display: inline;
  padding: 10px;
}

.about ul li:hover {
  font-weight: bold;
}

.about .col-md-4 {
  margin: 40px 0 40px 0;
  height: auto;
}

.about img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 20px 0;
  border-radius: 30px;
}
.projects {
  background-color: #E8E9EB;
}

.projects h2 {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.thumbnail {
  padding: 0;
  border-radius: 0px;
  border: 0px;
}

.thumbnail img {
  width: 100%;
  display: block;
}

#last_row {
  margin-bottom: 80px;
}

.contact {
  background-color: #FFF;
}

.contact h1 {
  padding-top: 100px;
}

.contact h2 {
  padding-bottom: 130px;
}

.contact ul {
  list-style: none;
  margin-top: 100px;
}

.contact ul li {
  display: inline-block;
}

.contact ul li a {
  text-decoration: none;
  color: #FFF;
}

.contact ul li a:hover{
  color:#4B4B54
}

.btn {
  margin-top: 15px;
  margin-right: 80px;
  font-weight: bold;
  color: #FFF;
  background-color: #4B4B54;
}

.btn:hover {
  border: none;
}

.footer {
  background: #E8E9EB;
  min-height: 40px;
}

.footer p {
  float: left;
  padding-top: 10px;
}

.footer ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul.nav li {
  display: inline-block;
  height:40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.footer ul.nav li:hover, .menu ul.nav li.active {
  background: #FFF;
}

.footer ul.nav li a {
  color: #4B4B54;
  margin: 0;
  padding: 0;
}

.footer ul.nav li a:hover {
  background: transparent;
}
