html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.menu {
  background: #D5DED9;
  min-height: 60px;
}

.menu p {
  float: left;
  font-size: 35px;
  color: #7A6A53;
}

.menu ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul.nav li {
  display: inline-block;
  height:60px;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.menu ul.nav li:hover {
  background: #FFF;
  transition: all 1.5s ease 0s;
}

.menu ul.nav li a {
  color: #4B4B54;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.menu ul.nav li a:hover {
  background: transparent;
}

.main {
  background:url(/home/edward/Dev/EVD/img/seattle-center1.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
}

.main h1 {
  float: right;
  padding-top: 150px;
  color: #7A6A53;
  font-weight: 600;
}

.body h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 800;
  color: #7A6A53;
  text-align: center;
}

.body h4 {
  text-align: center;
  line-height: 30px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.quote .row {
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: #D9CEB2;
  height: 150px;
}

.quote-text {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #7A6A53;
  text-align: center;
}

.quote-text h3 {
  font-weight: bold;
  padding-bottom: 12px;
}

.quote .quote-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #7A6A53;
  font-size: 20px;
  background: #99B2B7;
  padding: 10px 20px 10px 20px;
  border: solid #7A6A53 2px;
  text-decoration: none;

}

.quote-button:hover{
  background: #D5DED9;
  text-decoration: none;
}

.projects h2 {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.thumbnail {
  padding: 0;
  border-radius: 0px;
  border: 0px;
}

.thumbnail img {
  width: 100%;
  display: block;
}

#last_row {
  margin-bottom: 80px;
}

.about {
  padding-bottom: 50px;
}

.about h3 {
  padding-top: 20px;
  color: #7A6A53;
  font-weight: bold;
}

.about h4 {
  line-height: 30px;
  padding-top: 18px;
  padding-right: 10px;
}

.about ul {
  padding-top: 10px;
  line-height: 30px;
}

.about ul li:hover {
  font-weight: bold;
}

.contact {
  margin-bottom: 180px;
}

.contact h1 {
  padding-top: 100px;
}

.contact ul {
  list-style: none;
  margin-top: 100px;
}

.contact ul li {
  display: inline-block;
}

.contact ul li a {
  text-decoration: none;
  color: #7A6A53;
}

.contact-btn {
  margin-top: 15px;
  margin-right: 80px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #7A6A53;
  background: #D9CEB2;
  width: 130px;
  height: 50px;
  border: solid #7A6A53 2px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.contact-btn:hover {
  background: #D5DED9;
  transition: all 1.5s ease 0s;
}

.footer {
  background: #D5DED9;
  min-height: 40px;
}

.footer p {
  float: left;
  padding-top: 10px;
}

.footer ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul.nav li {
  display: inline-block;
  height:40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.footer ul.nav li:hover {
  background: #FFF;
  transition: all 1.5s ease 0s;
}

.footer ul.nav li a {
  color: #4B4B54;
  margin: 0;
  padding: 0;
}

.footer ul.nav li a:hover {
  background: transparent;
}

@media only screen and (max-width: 500px) {
    .main h1 {
    color: #948C75;
  }
}
