html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.menu {
  background: #D5DED9;
  min-height: 60px;
}

.menu p {
  float: left;
  font-size: 35px;
  color: #7A6A53;
}

.menu ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul.nav li {
  display: inline-block;
  height:60px;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.menu ul.nav li:hover {
  background: #FFF;
  transition: all 1.5s ease 0s;
}

.menu ul.nav li a {
  color: #4B4B54;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.menu .container ul.nav li a #home {
  color: red;
}
.menu ul.nav li a:hover {
  background: transparent;
}

.main {
  background:url(/home/edward/Dev/EVD/Img/seattle-center1.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
}

.main h1{
  float: right;
  padding-top: 150px;
  color: #7A6A53;
  font-weight: 600;
}

.footer {
  background: #D5DED9;
  min-height: 40px;
}

.footer p {
  float: left;
  padding-top: 10px;
}

.footer ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul.nav li {
  display: inline-block;
  height:40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.footer ul.nav li:hover {
  background: #FFF;
  transition: all 1.5s ease 0s;
}

.footer ul.nav li a {
  color: #4B4B54;
  margin: 0;
  padding: 0;
}

.footer ul.nav li a:hover {
  background: transparent;
}
