html, body {
  padding: 0;
  margin: 0;
  background:url(/img/seattle-skyline-1.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

.header h1 {
  font-size: 35px;
  color: #7A6A53;
}

.header a:hover {
  color: #948C75;
}

.intro {
  background: transparent;
  color: #D5DED9;
  padding-top: 30%;
}

.intro h2 {
  text-align: center;
}

.intro h3 {
  text-align: center;
}

/* Query to move quote down for visibility */
@media only screen and (max-width: 500px) {
    .intro {
    padding-top: 70%;
  }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 500px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .intro {
    padding-top: 70%;
}
