
.projects {
  background-color: #E8E9EB;
}

.projects h2 {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.thumbnail {
  padding: 0;
  border-radius: 0px;
  border: 0px;
}

.thumbnail img {
  width: 100%;
  display: block;
}

#last_row {
  margin-bottom: 80px;
}
